* {
	margin: 0;
	padding: 0;
}

html {
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	width: 960px;
}

h1 {
	font-size: 32px;
}

.brief {
	margin: 5px 0;
}

.content {
	margin: 15px 0;
}

.content-main {
	width: 593px;
	display: inline-block;
	margin: 15px 0px 0px 15px;
}

.hero {
	margin: 25px 0;
}

.brief {
	margin: 5px 0;
}

.last-contents {
	font-size: 12px;
}

.last-content-call {
	float: left;
	margin: 15px 15px 15px 0;
	width: 280px;
}

.last-content-call .secondary-title {
	margin-bottom: 0;
}

.last-content-call .brief {
	margin: 5px;
}

.content-sidebar {
	background-color: #F0F0F0;
	float: right;
	padding: 10px;
	width: 322px;
}

.main-nav ul {
	list-style-type: none;
}

.main-nav li {
	background-color: #F9F9F9;
	float: left;
	margin: 15px;
	outline: 1px solid #DEDEDE;
	text-align: center;
	width: 130px;
}

.main-nav a {
	display: block;
	padding: 10px;
	text-decoration: none;
}

.navbar {
	height: 90px;
	background-color: bisque;
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-links {
	display: flex;
	gap: 24px;
}

.menu-links a {
	font-weight: 500;
	color: #3d1e1e;
	padding: 8px 16px;
}

.menu-links a:hover {
	color: #dfcdcd
}

.menu-links :hover {
	background-color: rgb(44, 33, 20);
}

.menu-btn {
	font-size: 36px;
	color: rgb(20, 14, 14);
	display: none;
	cursor: pointer;
}

.main-footer {
	background-color: #F0F0F0;
	clear: both;
	float: left;
	font-size: 12px;
	margin: 15px 0;
	padding: 15px;
	text-align: center;
	width: 100%;
}

@media (max-width: 53rem) {
    .menu-links {
        display: none;
    }

    .menu-btn {
        display: block;
    }

}

@media (max-width: 53rem) {
	.main-nav li,
    .content-main,
    .content-sidebar {
        float: none;
    }

	.content-sidebar {
		width: 25%;
    }
}
